html{
    font-size: 62.5%;
}
*{
    font-family: 'Nunito', sans-serif;
}

body{
    /* padding: 2.2rem 7rem; */
    overflow-x: hidden;
    margin: 0;
    box-sizing: border-box;
}
ul li .active{
    text-decoration: underline;
    background-color: blue;
    /* padding-top: 5px ; */
}
.h1text{
    font-size: 5.5rem;
    line-height: 7rem;
    /* font-weight: bold; */
    letter-spacing: normal;
    color: #000000;
}
.h2text{
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: normal;
    color: #000000;
    /* font-weight: bold; */
}
.h3text{
    font-size: 2.4rem;
    line-height: 3.4rem;
    letter-spacing: normal;
}
.h4text{
    font-size: 2.2rem;
    line-height: 3.2rem;
    letter-spacing: normal;
    color: #000000;
}
.h5text{
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: normal;
    font-weight: normal;
    color: #a4acb0;
}
.h6text{
   font-size: 2rem;
    line-height: 3rem;
    letter-spacing: normal;
    color: #a7afb2;
}
p{
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
    color: #a4acb0; 
}
.headcol{
    background-color: #f3f6fd;
    padding: 2.2rem 6rem 0;
}
.nav-pills .nav-link{
    color: #1f2343;
    font-weight: bold;
}
.nav-pills .nav-link.active{
    color: #3a5edd;
    background-color: #f0f5f9;
    
}
.textwithli{
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
    color: #a4acb0; 
}
.section1{
    background-color: #f3f6fd;   
}
.paddsec{
    padding: 1.5rem 6rem;
}
.daycol{
    background-image: linear-gradient(#2887f4,#60e5e7);
    border-radius: 1rem;
    padding: 2rem 2rem ;
    width: 90%;
    height: auto;
}
.orangelinear{
    background-image: linear-gradient(#f16e53,#fabe53);
}
.pinklinear{
    background-image: linear-gradient(#e16ad4,#f1b5e7);
}
.greenlinear{
    background-image: linear-gradient(#1f5475,#74d3ad);
}
.btnprev{
    left: 110rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    top: 1.5rem;
    /* bottom: 120px; */
    background-color: white;;
    color: blue;
    border: 1px solid white;
}
.btnnext{
    right: 10rrem;
    width: 3rem;
    height: 3rem;
    top: 1.5rem;
    border-radius: 50%;
    /* bottom: 120px; */
    background-color: white;
    color: blue;
    border: 1px solid white;
}
.searchbox{
    width: 25%;
    border: none;
}
.searchbox:focus{
    box-shadow: none;
}
.btn-check:focus{
    box-shadow: none;
    
}
.blacktext{
     color: black;
 }
 .btn-outline1-primary{
     background-color: white;
 }
.btn-check:active+.btn-outline1-primary, .btn-check:checked+.btn-outline1-primary, .btn-outline1-primary.active, .btn-outline1-primary.dropdown-toggle.show, .btn-outline1-primary:active {
    color: #fff;
    box-shadow: none;
    background-color: #0d6efd;
    /* border-color: #0d6efd; */
}
.btn-check:checked+.btn-outline-primary:focus{
    box-shadow: none;
}
 .btn-outline-primary:focus{
     box-shadow: none;
 }
 .imgs{
     width: 5rem;
     height: 5rem;
 }
.bluetext{
    color: #3565f9;
}
.redtext{
    color: #ef5354;
}
.orangetext{
    color: #f9b343;
}
.blueback{
   background-color:#e5ecfe ; 
}
.orangeback{
    background-color: #fff5e5;
}
.redback{
    background-color: #fbe4e5;
}
.reportrec{
    border-radius: 1rem;
    width: 60%;
    margin-left: 4.5rem;
}
.red{
    background-color: #f9cece;
    
}
.p2pillred{
    font-size: 1rem;
    margin-bottom: 0;
    color: #ef4c4e;  
}


.blue{
    background-color: #cfddfd;
    
}
.p2pillblue{
    font-size: 1rem;
    margin-bottom: 0;
    color: #2365f9;
}
.p2pillorange{
    font-size: 1rem;
    margin-bottom: 0;
    color: #f5993b;
}
.badgetext{
    font-size: 1.5rem;
    font-weight: normal;
}
.orange{
    background-color: #fff5e5;
}
.carrec{
    width: 80%;
    padding: 1.5rem;
    height: auto;
    margin-left: 8rem;
    border-radius: 1rem;
    background-image: linear-gradient(white,white);
}
#datepicker  .ui-datepicker{
    width: 100%;
    border: 1px solid white;
    background-color: white;
    color: #e1e1e5;
    line-height: 2;
    font-size: 1.8rem;
    
}
#datepicker 
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button{
    border: none;
    background: white;
    font-weight: normal;
    color: #6475a9;
    font-size: 1.8rem;
}
#datepicker .ui-widget-header ,
.ui-state-default, .ui-widget-content .ui-state-default  {
    border: 1px solid white;
    background-color: white;
    color: #6475a9;
    font-weight: bold;
    margin-bottom: 2rem;
}

#datepicker .ui-datepicker-week-end .ui-state-default{
    color: red;
}
#datepicker .ui-state-default{
    text-align: center;
}
.txt-center{
    text-align: center;
}



















@media (min-width: 1281px) {


  
}

@media (min-width: 1025px) and (max-width: 1280px) {
  
}


@media (min-width: 768px) and (max-width: 1024px) {

  .reportrec{
      width: 100%;
      margin-left: 0;
  }
  .txt-center{
      text-align: left;
  }
  .carrec{
      width: 90%;
      margin-left: 5rem;
  }
  .searchbox{
      width: 
      65%;
  }
  html{
      font-size: 50%;
  }
  
  
}



@media (min-width: 481px) and (max-width: 767px) {
  
  .reportrec{
      width: 32%;
      margin-left: 0;
  }  
  .txt-center{
      text-align: left;
  }
   .carrec{
      width: 90%;
      margin-left: 0;
  }
  .martop{
      margin-top: 1.5rem;
  }
  html{
      font-size: 40%;
  }
    
   
 
  
}


@media (min-width: 320px) and (max-width: 480px) {
   .paddsec{
      padding: 1.5rem;
  }  
  
  .reportrec{
      width: 50%;
      margin-left: 0;
  }
  .txt-center{
      text-align: left;
  }
   .carrec{
      width: 100%;
      margin-left: 0;
  }
    .martop{
      margin-top: 1.5rem;
  }
   html{
      font-size: 35%;
  }
    
}

@media (min-width: 0px) and (max-width: 319px) {
    
  .paddsec{
      padding: 1.5rem;
  }
  .reportrec{
      
      margin-left: 0;
  }
  .txt-center{
      text-align: left;
  }
   .carrec{
      width: 100%;
      margin-left: 0;
  }
    .martop{
      margin-top: 1.5rem;
  }
  
  
}

